{% extends "schedules/base.html" %}
{% block title %}{{ group.class_id.class_id }}.{{ group.group_number }}{% endblock %}
{% block content %}
  <h3>Clase actual: <a href="{% url 'schedules:class_detail' group.class_id.class_id %}">{{ class_ }}</h3></a>
  <h3>Grupo actual: <a href="{% url 'schedules:group_detail' group.class_id.class_id group.group_number %}">{{ group }}</h3></a>

  {% for student in group.students.all %}
      <a href="{% url 'schedules:student_detail' student.id %}" class="waves-effect waves-light btn"><i class="material-icons left">face</i>{{ student }}</a>
  {% empty %}
      <p> Nadie se metio xdxd </p>
  {% endfor %}
  <h3>Tarea: </h3>
  {% for hw in group.homework.all %}
    <p>{% hw %}</p>
  {% endfor %}
{% endblock %}
