{% extends "schedules/base.html" %}
{% block title %}{{ student }}{% endblock %}
{% block content %}
  <h3>{{ student }}</h3>
  {% for group in groups %}
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><a href="{% url 'schedules:group_detail' group.class_id.class_id group.group_number %}" class="link-card">{{ group }}</a></span>
        <p>
          <b>
            {% if group.teachers.all|length > 1 %}
              Maestros:
            {% else %}
              Maestro:
            {% endif %}
          </b>
          {% for teacher in group.teachers.all %}
            {% if forloop.first %}
              {{ teacher }}
            {% else %}
              , {{ teacher }}
            {% endif %}
          {% endfor %}
          <br>
          <b>Horario:</b><br>
          {% for date in group.dates.all %}
            {{ date}}<br>
          {% endfor %}
        </p>
      </div>
      <div class="card-action">
        {% for key, students in students_enrolled.items %}
          {% if key == group.class_id.class_id %}
            {% for student_enrolled in students %}
              <a href="{% url 'schedules:student_detail' student_enrolled.id %}">{{ student_enrolled }}</a>
            {% empty %}
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Estas solo :'v</a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% empty %}
    <p>No hay grupos :(</p>
  {% endfor %}
{% endblock %}
